body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: deepskyblue;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: white;
    background-color: #c45abd;
    font-size: 20px;
    font-family: "emoji";
    padding: 10px;
    margin-top: 0;
}
option {
    display: block;
    margin: 10px auto;
    padding: 10px 16px;
    background-color: #4caf94;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
}
