 body {
     font-family: Arial, sans-serif;
     margin: 20px;
     padding: 0;
 }
h1 {
    color: #008080;
}
h2 {
    color: #004d4d;
}
label {
    display: block;
    margin-bottom: 5px;
}
select, input[type="number"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    margin-bottom: 10px;
}
#Rate {
    margin-top: 10px;
    font-size: 18px;
    color: #008080;
}
